@page
@model MyWebApp.Pages.IndexModel
<div class="text-center mt-4">
    <h1 class="display-4">Welcome to My Video Streaming Service!</h1>
    <p class="lead">Enjoy watching videos anytime, anywhere.</p>
    <a class="btn btn-primary btn-lg mt-3" href="/Videos">Browse Videos</a>
</div>
